.works {}

.works__list {
  align-items: center;
}

.works__item {
  position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
  margin: 0 5px 10px 10px !important;
  background-color: rgba(85, 85, 96, .5);
  box-shadow: -10px -10px 10px -5px rgba(255, 255, 255, .5);
  opacity: .7;
}

.works__img-wrapper {
  position: relative;
  display: block;
	max-width: 98%;
	height: 180px;
	margin: 1rem;
	padding: 1rem;
  overflow: hidden;
  background-color: $gray;
  opacity: .8;

	outline: .6rem solid transparent;
	box-shadow: 0 0 0 .4rem transparent;
	border-radius: .8rem;

	img {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		min-width: 100%;
		width: 100%;
		height: auto;
	  transform: translate(-50%, -50%);
	}
}

.works__description {
	width: 95%;
  padding: 20px 5px 20px 5px;
  font: normal 0.8rem "Roboto", "Arial", sans-serif;
  color: #ffffff;

  @media (min-width: $tablet) {
    padding: 20px 10px 20px 10px;
  }
  @media (min-width: $desktop) {
    padding: 30px 10px 30px 10px;
    font-size: 1rem;
  }
}

.works__name {
  font-weight: bold;
  text-transform: uppercase;
}

.works__message {
  margin: 0;
  padding: 10px 0 0 10px;
}

.works__link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 10px;
}

.works__link {
  display: inline-block;
  font: normal 0.8rem "Roboto", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  align-items: flex-start;
  vertical-align: baseline;
  color: #ffffff;

  &:active,
  &:hover {
    color: $pink;
  }
}
