// header
.header {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 100%;
}

.header__main-row {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 8rem;
	padding: 0 3rem;
	box-shadow: 0 5px 4px -4px $color_shadow;
}

.header__logo {
	z-index: 100;
	position: relative;
	font: 6rem "Monoton", "Arial", cursive;
  color: #ffffff;
  text-shadow: 6px -6px 2px $color_shadow;

	&:focus,
	&:hover {
		text-decoration: none;
		color: aquamarine;
	}
}

.header__menu-list,
.header__menu-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header__menu-row {
	transition: transform 0.3s ease;
	will-change: transform;
}

.header__menu-item {
	padding: 0 0 0 3rem;

	&:first-child {
		padding: 0;
	}
	@media (max-width: 770px) {
		padding: 2rem 0 0;
	}
}

/* main menu */
.header__menu-row {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 8rem;
	padding: 0 3rem;
}

@media screen and (max-width: $tablet) {
	.header__menu-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 12rem 3rem;
		background: #fff;
		transform: translate(0, -100%);
	}

	.header__menu-list {
		flex-direction: column;
	}

	body.menu__open .header__menu-row {
		transform: translate(0, 0);
	}
}
