// burger
.menu {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 8rem;
}

.menu__trigger {
	z-index: 210;
	position: absolute;
	top: 50%;
	right: 3rem;
	display: none;
	height: 2.6rem;
	width: 3.8rem;
	margin-top: -1.6rem;
	text-transform: uppercase;
	color: transparent;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 0.4rem;
		margin-top: -.2rem;
		background: darken($gray, 10%);
		transform: translate(0, -1rem);
		transition: all 0.3s ease;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 0.4rem;
		margin-top: -.2rem;
		background: darken($gray, 10%);
		transform: translate(0, 1rem);
		transition: all 0.3s ease;
	}

	@media (max-width: $tablet) {
		display: block;
	}
}

// X
.menu__trigger.active__mod {

	&:before {
		transform: rotate(45deg) translate(0, 0);
	}

	&:after {
		transform: rotate(-45deg) translate(0, 0);
	}
}

.menu__trigger-decor {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0.4rem;
	margin-top: -.2rem;
	background: darken($gray, 10%);
	transition: all 0.5s ease;
}

.active__mod .menu__trigger-decor {
	opacity: 0;
	transform: translate(100%, 0);
}
