// background
.modal-bg {
	z-index: 50;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: all .5s ease;
}

.modal {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	width: 100%;
	max-width: 60rem;
	height: 50rem;
	max-height: 100%;
	margin: auto;
	padding: 0;
	background: #fff;
	border: 2px solid rgba(0,0,0,0.15);
	box-shadow: 0.4rem 0.4rem 0.5rem $color_shadow;
	outline: 0;
	overflow: hidden;
	visibility: hidden;
	transition: all .5s ease;

	// states
	&--show {
		display: block;
		visibility: visible !important;
		animation: bounce 0.6s;
	}
	&--call {
		height: 45rem;
	}
	&--sucsess {
		height: 20rem;
	}
}

.modal__close {
	z-index: 1;
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0;
	font-size: 0;
	border: none;
	border-radius: 50%;
	transition: all 0.5s;

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		outline: none;
		transform: scale(1.1);
	}
}

.modal__guts {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2rem;
	text-align: center;
	overflow: auto;
}

// modal animation
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
