<section class="hero  container">

	<a href="/" class="hero__photo  tilter">
		<figure class="tilter__figure">
			<img class="tilter__image" src="img/hero.jpg" alt="I`m" />
			<div class="tilter__deco tilter__deco--shine">
				<div></div>
			</div>
			<div class="tilter__deco tilter__deco--overlay"></div>
			<figcaption class="tilter__caption">
				<h3 class="tilter__title"> html_coder </h3>
				<p class="tilter__description"> *from Belarus </p>
			</figcaption>
			<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
				<path d="M20.5,20.5h260v375h-260V20.5z" />
			</svg>
		</figure>
	</a>

	<div class="hero__content">
		<h1 class="hero__name"> Raman Yasel </h1>
		<p class="hero__about"> Hi! I`m a front-end developer, minimalist. </p>
		<ul class="hero__links">
			<li class="hero__item">
				<a href="mailto:raman.yasel@yahoo.com"> raman.yasel@yahoo.com </a>
			</li>
			<li class="hero__item">
				<a href="skype:raman.yasel?chat"> Skype </a>
			</li>
			<li class="hero__item">
				<a href="https://github.com/yasell" target="_blank"> GitHub </a>
			</li>
		</ul>
	</div>

</section>
