.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-up {
	font-size:(26.5/10)*1rem;
	width:(50.2/26.5)*1em;
}
.icon-check {
	font-size:(67.5/10)*1rem;
	width:(67.5/67.5)*1em;
}
.icon-cross {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
